html {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
}
body {
    height: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #fff url("../images/bg.jpg") no-repeat fixed center bottom;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.header, .footer {
    color: white;
    text-align: center;
    text-shadow: 2.0px, 1.0px;
    margin: auto;
    max-width: 50%;
}

.header h1 {
    font-family: Griffy;
    font-weight: bold;
}

.container {
    margin: auto;
    background-color: white;
    border: 20px solid white;
    max-width: 55%;
    background-color: rgba(255, 255, 255, 0.55);
    border-collapse: collapse;
}

.post {
    margin-bottom: 0;
    background-color: whitesmoke;
    border: 10px solid whitesmoke;
    opacity: 0.67;
}

.post:last-child {
    margin-bottom: 0;
}

.post h2 {
    font-weight: bold;
    font-style: italic;
}

.date {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: bold;
    margin: auto;
    padding: 1rem;
    border-collapse: separate;
    border-spacing: 1rem;
}

.quote {
    border-left: 0.5rem solid #ccc;
    margin: 1em 0.5rem;
    padding: 0.5rem;
}

.footer {
    font-style: italic;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
}
