html {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
}
body {
    height: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #fff url("../images/bg.jpg") no-repeat fixed center bottom;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.header, .footer {

}

.header h1 {

}

.container {

}

.post {
    margin-bottom: 5rem;
}

.post:last-child {
    margin-bottom: 0;
}

.post h2 {

}

.date {

}

.quote {

}

.footer {
    
}
